    
    
    <div class="container">

            <div class="jumbotron header-tron">

                <img src="../assets/img/burger-img.png" alt="burger" class="burger-img">
                <h1>Burgers!</h1>
                <h5>Devour or don't. <br>
                Or do and then don't again. <br>
                The possibilities are endlessly <span class="numbery">one</span> or <span class="numbery">the other!</span></h5>


            </div>

      <h4>Burgers that have not yet been devoured:</h4>

      <ul>
        {{#each burgers}}
          {{#if devoured}}
            {{> burgers/burger-block devoured=false}}
          {{/if}}
        {{/each}}
      </ul>


          <h4>Burgers that have been devoured:</h4>

          <ul>
        {{#each burgers}}
          {{#unless devoured}}
            {{> burgers/burgers-block devoured=true}}
          {{/unless}}
        {{/each}}
      </ul>

<br>
<br>


<div class="container add-burger-div">

      <h1>What burger would you like to eat?</h1>
      <form class="create-form">

        <div class="form-group">
          <label for="ca"><h5>Burger name:</h5></label>
          <input type="text" id="new-burger-input" name="name">
        </div>

  <button class="btn btn-lg btn-warning" type="submit"><h5><span class="numbery">Submit Burger</span></h5></button>


</div>



    </div>
   





</form>
    
