    
    <img src="../public/assets/img/burger-img.png" alt="burger" class="burger-img">
    <h1>Burgers!</h1>
    <h2>Devour or don't. Or do and then don't again. The possibilities are endlessly one or the other!</h2>



<h2>Burgers that have not yet been devoured:</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>


    <h3>Burgers that have been devoured:</h3>

    <ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burgers-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>What burger would you like to eat?</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Submit</button>
</form>
    
