body {
    background: palegoldenrod;
}

h1 {
    font-family: 'Rock Salt', cursive;
    line-height: 1.2;
    padding: 2%;
}

h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

li {
    font-family: 'Montserrat', sans-serif;
    margin: 3px;
    list-style: none;
}

.numbery {
    font-family: 'Rock Salt', cursive;
}

.header-tron {
    background: palegoldenrod;
    text-align: center;
}

.add-burger-div {
    text-align: center;
}

.burger-time-header {
    text-align: center;
}

.burger-img {
    border-radius: 100%;
    width: 200px;
}

.change {
    margin: 3px;
}

.col-6 {
    border: solid 1px blue;
    border-radius: 20%;
}